In [7]:
import pandas as pd

In [3]:
movies_metadata = pd.read_csv('movies_metadata.csv', low_memory=False)
ratings = pd.read_csv('ratings.csv')

In [4]:
movies_metadata.sample(n=5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
19514,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,84342,tt2062996,en,Something from Nothing: The Art of Rap,SOMETHING FROM NOTHING: THE ART OF RAP is a fe...,...,2012-06-15,288312.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Hip Hop didn't invent anything. Hip Hop reinve...,Something from Nothing: The Art of Rap,False,6.8,28.0
22945,False,NaN,0,"[{'id': 10770, 'name': 'TV Movie'}, {'id': 16,...",NaN,47626,tt1744776,en,Legend of the BoneKnapper Dragon,The film follows Hiccup and his young fellows ...,...,2010-10-15,0.0,16.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Legend of the BoneKnapper Dragon,False,6.5,69.0
24941,False,NaN,3700000,"[{'id': 27, 'name': 'Horror'}]",NaN,30449,tt1054112,en,Imago mortis,"They say that in 1600s, long before the invent...",...,2009-01-15,0.0,0.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Imago mortis,False,4.9,11.0
37170,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,376515,tt5278964,en,Becoming Mike Nichols,"This intimate portrait of director, producer, ...",...,2016-02-22,0.0,72.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Becoming a Comedian. Becoming a Director. Beco...,Becoming Mike Nichols,False,6.7,3.0
468,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,12475,tt0110123,en,In the Army Now,Bones Conway and Jack Kaufman didn't really kn...,...,1994-08-12,28881266.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Sleep tight, America! The safety of the free w...",In the Army Now,False,4.7,54.0

In [5]:
ratings.sample(n=5)

          userId  movieId  rating   timestamp
23339910  242261     5291     3.5  1113017530
12755861  132370    49282     2.5  1204642331
18556405  192629      661     3.0   854892349
8066666    83272     1614     3.0   898171670
20139689  209449    47423     5.0  1445732809